:root {
	--primary: #14bbaa;
	--secondary: #2c3c4c;
}
body {
	background-color: var(--primary);
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: x-large;
	margin: 0;
}
body > div {
	background-color: white;
	border: 1px solid var(--secondary);
	border-radius: 25px;
	margin: 200px auto;
	max-width: 80%;
	padding: 0 50px;
	padding-bottom: 25px;
	text-align: center;
	width: 2000px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
select,
select * {
	text-transform: capitalize;
}
.pokemon.not-loaded {
	display: none;
}
.pokemon {
	background-color: #a9dff1;
	border: 1px solid var(--secondary);
	border-radius: 20px;
	margin: auto;
	padding: 20px;
	width: 300px;
}
[data-types] div, [data-image] {
	background-color: #e0f1f7;
}
.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
	opacity: 70%;
}
.pokemon-option {
	text-transform: capitalize;
}
[data-image] {
	border: 1px solid var(--secondary);
	border-radius: 5px;
	height: 260px;
	margin: auto;
	width: 260px;
}
[data-name] {
	margin: auto;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}
[data-types] img {
	border-radius: 20px;
	height: 25px;
	width: 25px;
}
[data-types] > button {
	align-items: center;
	border: 1px solid var(--secondary);
	border-radius: 25px;
	display: inline-flex;
	justify-content: center;
	padding: 2px 2px;
	width: 45%;
}
[data-types] > button:hover {
	filter: brightness(90%);
	cursor: pointer;
}
.single-card {
	margin: 20px auto;
	width: 200px;
}
[data-types] .type-name {
	display: inline;
	font-size: 20px;
	font-weight: 450;
	margin: 0 5px;
	text-transform: capitalize;
}
#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin: 0 50px;
}
.skeleton-text {
	border-radius: 0.125rem;
	height: 0.5em;
	margin: 20px auto;
	width: 90%;
}
.skeleton-text:last-child {
	margin-bottom: 0;
	width: 80%;
}
label {
	display: block;
}
select {
	border: 1px solid var(--secondary);
	border-radius: 5px;
	font-size: 20px;
	height: 30px;
	width: 200px;
}
@keyframes skeleton-loading {
	0% {
		background-color: #a3b8c2;
	}
	100% {
		background-color: #f0f3f5;
	}
}
a, .see-more {
	color: #373373;
	text-decoration: none;
}
a:hover, .see-more:hover {
	color: #0056b3;
	text-decoration: underline;
}
.see-more {
	background-color: transparent;
	border: none;
	font-size: inherit;
	margin: 20px auto;
}
.see-more:hover {
	cursor: pointer;
}
.hidden {
	display: none;
}
#none {
	color: #6c757d;
}